@page
@model MLHAllinInOne2023.Pages.AppHomeModel

@{
}
@if (Model.ShowForm)
{
 @*Checklist*@
<h1> Int </h1>
    <form method="post">
        @* creates checkboxes for all pre determined intrests *@
        <label><input type="checkbox" asp-for="art"/>art</label><br>
        <label><input type="checkbox" asp-for="food" />food</label><br>
        <label><input type="checkbox" asp-for="nature" />nature</label><br>
        <label><input type="checkbox" asp-for="nightlife" />nightlife</label><br>
        <label><input type="checkbox" asp-for="music" />music</label><br>


        @*foreach (var intrest in Model.intrests)
        {

            <input type="checkbox" id="@intrest" name="@intrest" value=@intrest asp-for="art">
            <label>@intrest</label>

            <br>
        }
        *@
    @*Open-ended Intrests*@
        <label asp-for="otherIntrests"> Other Intrests:</label><br>
        <input type="text" id="otherIntrests" name="otherIntrests"><br>
        <button type="submit">Submit</button>
    </form>
}

<div>
    @ViewData["Message"]
</div>