@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Travel Guide: ...</h1>
    <br /> 
    <h2>Weather in ...</h2> 
</div> 

<div style="border: 5px solid black; padding: 10px;">
  <p><br />This is some sample text in a content box.</p>
</div>